html {
  font-family: "Karla", sans-serif;
  overflow: scroll;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rg;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.prof-box {
  width: 90px;
  height: 20%;
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  width: 30%;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 100px;
}

.prof-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.name {
  font-weight: 50;
  font-size: 20;
  letter-spacing: 5;
}

.des {
  font-weight: 400;
}

.des2 {
  font-weight: 200;
  letter-spacing: 1;
}

body {
margin: 0;
padding: 0;
background: #000;
}

li.socials {
  list-style: none;
  margin: 5px 15px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  color: #4b6287;
}
.academics {
  width: 50%;
  height: 20%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

h5 {
  text-align: right;

}
.row {
  display: flex;
  padding-bottom: 0px;
}

.column {
  flex: 50%;
}
