html {
  font-family: "Karla", sans-serif;
  overflow: scroll;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rg;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.prof-box {
  width: 90px;
  height: 20%;
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  width: 30%;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 200px;
}

.prof-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.name {
  font-weight: 50;
  font-size: 20;
  letter-spacing: 5;
}

.typewriter p
{   
    text-align: center;
    font-family: "Courier";
    font-size: 50px;
    width: 50em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(40, end);
    animation: type 5s steps(40, end);
}

.typewriter p:nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;    
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.typewriter p:nth-child(3){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type3 5s steps(40, end);
    -webkit-animation-delay: 10s; 
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

 @keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

span{
  animation: blink 1s infinite;
}

@keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}
@-webkit-keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}  
@keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}

} 
@-webkit-keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}  
body {
margin: 0;
padding: 0;
background: #000;
}

li.socials {
  list-style: none;
  margin: 5px 15px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  color: #4b6287;
}
.academics {
  width: 50%;
  height: 40%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  margin-top: 300px;
  margin-bottom: 100px;
}

.experience {
  width: 50%;
  height: 80%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  border-top: 100px;
  margin-bottom: 100px;
}

.awards {
  width: 50%;
  height: 40%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  border-top: 100px;
  margin-bottom: 100px;
}

.skills {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  border-top: 100px;
  margin-bottom: 100px;
}

.projects {
  width: 50%;
  height: 20%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: auto;
  text-align: left;
  border-top: 100px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

h5 {
  text-align: right;

}
.row {
  display: flex;
  padding-bottom: 0px;
}

.column {
  flex: 50%;
}
